@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Shadows+Into+Light&display=swap');

/* font-family: 'Cabin', sans-serif; */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{

    font-family: 'Raleway', sans-serif;
    background-color:black;
    /* background-image: url(img2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    
    /* background-color:rgb(0, 0, 0); */
}
.content{
    width:100vw;
    height:100vh;
    padding-top: 80px;

}
.container{
    padding:0px;
    display: flex;
    flex-direction: column;
    /* align-items:left; */
    justify-content:left;
    color: #fff;

}
#great{
    font-size:14px;
}
.container h1 i{
    margin: 15px;
    font-size:15px;
}
.container h1 p{
    margin: 10px;
    font-size:20px;
}

.container h1{
    
    width: 100vw;
    height:65vh;
    padding: 50px;
    border-top: 2px solid rgba(255, 255, 255, 0.61);
    border-bottom: 2px solid rgba(0, 0, 0, 0.616);
    margin-top: 100px;
    background-color: rgb(252, 252, 252);
    color:black;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.container p{
    max-width:90vw;
    text-align:left;
    margin-bottom: 20px;
}
#site-title{
    font-weight: 800;
}
.main-nav{
    text-align: right;
    width:100%;
    margin-left:0px;
    margin-top: px;
    margin-right:0px;
    padding:15px 0 15px;
    position:fixed;
    right:0;
    background-color: rgba(0, 0, 0, 0.815);
    box-shadow: 2px 3px 6px rgba(245, 243, 243, 0.308);
   
}
.main-nav-list li{
    display: inline;
}
.main-nav-list li a{
    margin-right: 20px;
 
}
.text{
    text-transform: uppercase;
    font-weight:bold;
    padding:0px 0px 10px;
    font-size:1.6rem;
    text-decoration: none;
    color:rgb(255, 255, 255);
    

}
.text-visited{
    color:grey;
}

.wrap-btn{
    border: none;
    background-color:transparent;
    cursor: pointer;
    font-size: 20px;
    outline:none;

}
.open-btn{
    position: fixed;
    top:20px;
    left:30px;
    color: rgb(253, 253, 253);

}
.wrap{
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    /* width: 60%; */

    transform: translateX(-100%);
    transition: transform .6s ease-in-out;
       
}
/* if visible class is in wrap class */
.wrap.visible{
       
    transform: translateX(0);

}
.wrap-black{
    background-color: rgba(253, 253, 253, 0.527);
    width: 60%;
    max-width: 480px;
    transition-delay:0.1s ;

}
.wrap-white{
    background-color:rgba(0, 0, 0, 0.829);
    width: 98%;
    padding: 40px;
    position: relative;
    box-shadow:1px 1px 4px white;

}
.close-btn{
    color: #fff;
    position: absolute;
    top: 40px;
    right:30px;
}
.list{
    list-style-type:none;
    padding:0;
}
.list li{
    margin:30px 0;
    font-size: 1.2rem;
}
.list li a ,.main-nav-list li a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight:600;

}
.main-nav-list li a{
    font-size: 1.3rem;
}
.list li a:hover,.main-nav-list li a:hover{
    color:rgb(216, 216, 216);
    text-decoration:underline;
    

}
@media(max-width:600px) {

    .main-nav{
        display:none;
    }
}
@media(max-width:500px) {

    .main-nav{
        display:none;
    }
    .container h1 p{
        margin: 10px;
        font-size:15px;
    }
    .container h1{
    
        width: 100vw;
        height:60vh;
}
}
@media(max-width:354px) {

    .main-nav{
        display:none;
    }
    .container h1 p{
        margin: 10px;
        font-size:13px;
    }
    .list li a{
        font-size: 14px;
    }
}
@media(max-width:282px) {

    .main-nav{
        display:none;
    }
    .container h1 p{
        margin: 10px;
        font-size:11px;
    }
   .container h1{
    font-size:30px;
   }
   .list li a{
    font-size: 14px;
}
}
